<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smithbhavsar.bookyourcoupon">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Countdown"
            android:label="Purchase"
            android:parentActivityName=".viewcoupons"/>
        <activity
            android:name=".Contact_us"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Setting"
            android:label="Setting"
            android:parentActivityName=".dashboard" />
        <activity android:name=".Mainsett" />
        <activity
            android:name=".Locationpop"
            android:label="Location Service"
            android:theme="@style/AppTheme.popup" />
        <activity
            android:name=".referafriend"
            android:parentActivityName=".dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".aboutUs"
            android:label="About Us"
            android:parentActivityName=".dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".categoryCouponsdisplay"
            android:label="Category"
            android:parentActivityName=".dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".viewcoupons"
            android:label="Coupons"
            android:parentActivityName=".dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".categories"
            android:label="Categories"
            android:parentActivityName=".dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".shopDetails"
            android:label="Shop Details"
            android:parentActivityName=".dashboard"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".signup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

</manifest>